body {
  background-image: url(../../assets/Bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  height: 15vh;
  margin: 60px auto;
  border-radius: 20px;
  background-color: rgb(223, 225, 227);
  padding: 0 20px;
}

img {
  width: 150px;
  height: 40px;
}
.right-container {
  border-radius: 50px;
  padding: 0 25px;
  background-color: rgb(255, 255, 255);
}

.nav-links {
  display: flex;

  gap: 20px;
  align-items: center;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

a.isActive {
  color: rgb(222, 51, 51);
  font-weight: bold;
  text-decoration: underline;
}
